<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>signup.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.SignupServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InstructorDashboardServlet</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.InstructorDashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InstructorDashboardServlet</servlet-name>
        <url-pattern>/instructor-dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.StudentDashboardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <url-pattern>/student-dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateAssignmentServlet</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.CreateAssignmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateAssignmentServlet</servlet-name>
        <url-pattern>/create-assignment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadAssignment</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.DownloadAssignmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadAssignment</servlet-name>
        <url-pattern>/download-assignment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewAssignment</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.ViewAssignmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewAssignment</servlet-name>
        <url-pattern>/viewAssignment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitAssignment</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.SubmitAssignmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmitAssignment</servlet-name>
        <url-pattern>/submitAssignment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadAllSubmissionsServlet</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.DownloadAllSubmissionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadAllSubmissionsServlet</servlet-name>
        <url-pattern>/downloadAllSubmissions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadSubmissionServlet</servlet-name>
        <servlet-class>com.submission.mis.worksubmission.controllers.DownloadSingleSubmission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadSubmissionServlet</servlet-name>
        <url-pattern>/downloadSubmission</url-pattern>
    </servlet-mapping>
</web-app>
